/* perfil*/

.card {
    margin-bottom: 0px !important;
    height: 100%;
}

.label-info {
    background-color: #3a87ad;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.bootstrap-tagsinput {
    width: 100% !important;
    height: 100px !important;
}